<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Hi, <%= @user.email %></h5>
    <p>
      You have successfully purchaed <%= @real_estate.type %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>